<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/default.css" />
    <title>Nephelai Self Quantification Aggregator</title>
  </head>
  <body>
    <h1><a href="/">Nephelai Self Quantification Aggregator</a></h1>

    <p>Moving fitness data into Google Fitness.</p>

   {{{body}}}

    <p class="repo_info">
      <a href="https://github.com/fiddur/">Some Quantified Selves</a>
      <a href="http://fredrik.liljegren.org/">©Fredrik Liljegren</a>
      <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU AGPL-3.0</a>
    </p>
  </body>
</html>
